[Desktop Entry]
Name=VSCode Insiders
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/vscode-insiders --unity-launch %F
Icon=vscode-insiders
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;code;code-insiders;vscode-insiders;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/vscode-insiders --new-window %F
Icon=vscode-insiders
