[Desktop Entry]
Name=Code - Insiders URL Handler
Comment=Editing evolved
GenericName=Code Editor
Exec=/usr/bin/code-insiders --open-url %U
Icon=code-insiders
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/code;x-scheme-handler/vscode;x-scheme-handler/code-insiders;x-scheme-handler/vscode-insiders
Keywords=code;code-insiders;vscode
